<%- include('head') %>
    <% articles.forEach((article) => { %>
        <div class="alert alert-primary" role="alert">
            <%= article.title %>
        </div>
    <% }) %>
<%- include('foot') %>